<div class="four wide column"></div>

<div class="eight wide column">
  <h2 class="ui centered header">Resend confirmation instructions</h2>

  <%= render "shared/devisemes" %>

  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: "ui form" }) do |f| %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %> 
    </div>

    <div class="actions">
      <%= f.submit "Resend confirmation instructions", class: "ui red button" %>
    </div>
  <% end %>

  <div class="ui list">
    <%= render "devise/shared/links" %>
  </div>
</div>

<div class="four wide column"></div>