<div class="two wide column"></div>

<div class="four wide column">
  <div class="ui link cards">
    <div class="card">
      <div class="image">
        <%= image_tag avatar_url(@user) %>
      </div>
      <div class="content">
        <div class="header"><%= @user.fullname %></div>
        <div class="meta">
          <a>Friends</a>
        </div>
        <div class="description">
          <%= @user.description %>
          Matthew is an interior designer living in New York.
        </div>
      </div>
      <div class="extra content">
        <span class="right floated">
          Joined in <%= @user.created_at.year %>
        </span>
        <span>
          <i class="user icon"></i>
          75 Friends
        </span>
      </div>
    </div>
  </div>
</div>

<div class="eight wide column">
  <div class="ui main text container">
    <h2 class="ui header"><%= @user.fullname %></h2>
  </div>
</div>

<div class="two wide column"></div>