<div class="two wide column"></div>
<div class="twelve wide column">
  <div class="ui grid">
    <div class="four wide column">
      <div class="ui secondary vertical pointing menu room">
        <%= link_to "Your Listings", rooms_path, class: "active item" %>
        <%= link_to "Your Reservations", rooms_path, class: "item"%>
      </div>
    </div>
    <div class="twelve wide stretched column">
      <h3 class="ui top attached header">Listings</h3>
      <% @rooms.each do |room| %>
      <div class="ui attached segment">
        <div class="ui grid">
          <div class="four wide column listing">
              <%= image_tag room.photos[0].image.url(:thumb) if room.photos.length > 0 %>
          </div>
          <div class="eight wide column">
              <h4><%= room.listing_name %></h4>
              <p><%= room.summary %></p>
          </div>
          <div class="four wide column">
              <%= link_to "Update", edit_room_path(room), class: "ui button blue" %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="two wide column"></div>
