<!DOCTYPE html>
<html>
  <head>
    <title>Aires</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'main', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render "shared/navbar" %>
    
    <div class="ui main grid container">
      <%= render "shared/message" %>
      <%= yield %>
    </div>

    <%#= render "shared/footer" %>
  </body>
</html>
