<!DOCTYPE html>
<html>
  <head>
    <title>Aires</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'main', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render "shared/navbar" %>

    <div class="ui grid container">
      <div class="four wide column"></div>

      <div class="eight wide column">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
      </div>
      
      <div class="four wide column"></div>
    </div>
  </body>
</html>
